<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RunSpeed" value="0"/>
    <add key="EnableTweakedDiagonalMovement" value="False"/>
    <add key="EnableEasyFishing" value="False"/>
    <add key="EnableAlwaysSpawnFishingBubble" value="False"/>
    <add key="SecondsPerTenMinutes" value="7"/>
    <add key="EnableDebugMode" value="False"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
